services:
  python-agent:
    build: ./python-agent
    ports:
      - "5000:5000"
    environment:
      - PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple

  go-agent:
    build: ./go-agent
    ports:
      - "5001:5001"

  rust-agent:
    build: ./rust-agent
    ports:
      - "5002:5002"

  web-ssr:
    build: ./web-app
    ports:
      - "5003:5003"

  gitlab:
    image: gitlab/gitlab-ce:16.11.2-ce.0
    container_name: gitlab-ce
    restart: unless-stopped
    hostname: gitlab.local
    ports:
      - "8929:8929"
      - "2222:22"
    volumes:
      - ./.gitlab/config:/etc/gitlab
      - ./.gitlab/logs:/var/log/gitlab
      - ./.gitlab/data:/var/opt/gitlab
    env_file:
      - .env.gitlab-ci
    shm_size: 256m

  gitlab-runner:
    image: gitlab/gitlab-runner:alpine-v16.11.2
    container_name: gitlab-runner
    restart: unless-stopped
    depends_on:
      - gitlab
    volumes:
      - ./.gitlab-runner/config:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env
